@import "tailwindcss";
@theme {
  --animate-drive: drive 8s linear infinite;
  
}

@keyframes drive {
  0% { transform: translateX(-10%); }
  50% { transform: translateX(80%); }
  100% { transform: translateX(-10%); }
}




